@font-face {
    font-family: 'Verdana';
    src: url('/fonts/verdana.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Georgia';
    src: url('/fonts/georgia.ttf')  format('truetype') /* Safari, Android, iOS */
}

.text-color-non-contrasting{
    color: #999999 !important;
}

.main-background{
    background: black;
    background-color: black;
}

.color-white{
    background: white;
}

.bodoni-moda{
    font-family: 'Bodoni Moda', serif;
}

.font-vt{
    font-family: 'VT323', monospace;
}

.font-georgia{
    font-family: 'Georgia';
}

.font-large{
    font-size: 2.5rem;
}

.font-micro{
    font-size: 0.7rem;
}

.font-verdana{
    font-family: 'Verdana';
}
.color-shape{
    background: #181818; 
}

.mini-menu{
    border-radius: 15px 15px 0px 0px;
    background: #111111;
    color: #4f4f4f;
}

.logo-description{
    vertical-align: baseline;
}

.font-logo-description{
    font-size: 0.8rem;
}

.search input[type=text] {
    background: #333333;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.main-photo{
    background: yellow;
}

.img-container{
    position: relative;
}

.img-text{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.btn.corner-0{  
    border-radius: 0;
    background: #333333;
    border-color: #333333;
    border-left-color: black;
    border-right-color: black;
}
.btn.corner-0:hover{
    background: black;
    border-color: black;
}

.md-form.mt-0{
    min-width:50px;
    display:flex;
    align-items: center;  
}

.btn.align-left{
    text-align: start;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}
hr.separator{
    border: 4px solid #3b3b3b;
}
  
.flex-fill.tile{
    background: #141414;
}

.finder-head{
    background: #111111;
}

.finder-body{
    height: 400px;
    border-top: 1px black solid;
}

body{
    min-width: 326px;
}

.tile-body{
    border-top: 1px black solid;
}

.text-size-tile-title{
    font-size: 1.4rem;
}

.font-size-basement{
    font-size: 0.8rem;
}

:root{
    --image-carousel-text-block-width: 300px;
}

.image-carousel{
    object-fit: cover;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    position: relative;
    background-image: url('https://d.radikal.ru/d13/2106/77/8e234bef2135t.jpg');
}

.image-carousel-text-block{
    width: var(--image-carousel-text-block-width);
    min-width: 100px;
    height: 100%;
    position: absolute;
    bottom: 0px;
    overflow: none;
    display: block;
}

.image-carousel-text-block.background{
    background-color: black !important;
    opacity: .3;
}

.image-carousel-text-block > .text{
    color: white;
    font-size: 1.0rem;
}

.image-carousel-text-block > .name{
    font-size: 2.4rem;
}

.image-carousel-text-block > .read-more{
    position: absolute;
    bottom: 0px;
    font-size: 1.05rem;
    justify-content: end;
    width: 100%;
    font-size: 1.2rem;
    padding-left: calc(var(--image-carousel-text-block-width) / 2);
}

#image-container > #image-bike{
    object-fit: cover;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 190px;
    position: relative;
    background-image: url("https://img3.goodfon.ru/wallpaper/nbig/f/6e/yamaha-bike-moto-motocikl.jpg");
}

#image-container > #image-wedding{
    object-fit: cover;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 190px;
    position: relative;
    background-image: url("https://assets.cityexperiences.com/wp-content/uploads/2021/03/2021_238433_FLT_Photo_Requests_WebsiteCategoryPhotos_WeddingsOnTheWater_OPT.jpeg");
}
#image-container > #image-active{
    object-fit: cover;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 190px;
    position: relative;
    background-image: url("https://cdn24.img.ria.ru/images/rsport/95985/00/959850038_0:0:0:0_600x0_80_0_0_6af7f915f417c2b472d781a8718939d9.jpg");
}

.arrow-next-reflect{
    transform: scale(-1, 1);
}